*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
html,body{
    height: 100%;
    width: 100%;
}

#main{
    /* background-color: aqua; */
    height: 100%;
    width: 100%;
}

#nav{
    height: 30px;
    width: 100%;
    /* background-color: antiquewhite; */
    align-items: center;
    display: flex;
    justify-content: end;
   gap: 20px;
   padding: 0 20px;
}

#nav h4{
    font: size 40px;
}

#nav i{
    background-color: black;
    color: white;
    font-size: 15px;
    padding: 5px;
    border-radius: 50%;
}

#centre{
    /* background-color: beige; */
    width: 100%;
    padding: 15px 50px;
   }

#centre h1{
    font-size: 6.25vw;
    /* font-size: 80px; */
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 7vw;
    /* line-height: 90px; */
    /* background-color: aqua; */
}

#centre-in{
    height: 200px;
    width: 100%;
    /* background-color: red; */
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

}

#centre-in p{
    /* font-size: 20px; */
    font-size: 1.55vw;
    font-weight: 500;
    line-height: 1.55vw;
    font-style: italic;
}

#right{
    width: 20%;
    padding: 0 30px;
}
.elem{
    /* background-color: yellow; */
    /* margin: 5px; */
    padding: 20px 0;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.elem i{
    font-size: 20px;
    font-weight: 300;
    opacity: 0;
}

.elem a{
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}

.elem:hover i{
    opacity: 1;
}
.elem:hover a{
    text-decoration: underline;
}

#bottom{
    height: 50%;
    width: 100%;
    background-color:blueviolet;
    background-image: url(https://plus.unsplash.com/premium_photo-1661775820832-f971657b13f6?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: 0 20%;
   
}



@media (max-width:600px) {
    #nav{
        margin-top: 8px;
        height: 18px;
        width: 100%;
        /* background-color: antiquewhite; */
        /* align-items: center;
        display: flex;
        justify-content: end; */
       gap: 20px;
       padding: 15px 20px;
    }
    
    #nav h4{
        font-size: 12px;
    }
    
    #nav i{
        background-color: black;
        color: white;
        font-size: 12px;
        padding: 4px;
        border-radius: 50%;
    }

    #centre{
        /* background-color: beige; */
        width: 100%;
        padding: 15px 10px;
       }
    
    #centre h1{
        font-size: 12vw;
        /* padding-left: 10px; */
        /* font-size: 80px; */
        /* background-color: red; */
        font-weight: 400;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 13vw;
        /* line-height: 90px; */
    }
    
    #centre-in{
        height: 200px;
        width: 100%;
        /* background-color: red; */
        margin-top: 5vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
    }
    
    #centre-in p{
        /* font-size: 20px; */
        font-size: 3vw;
        font-weight: 600;
        line-height: 5vw;
        font-style: italic;
        font-family: Arial;
    }
    
    #right{
        width: 100%;
        padding: 0 0;
        margin-top: 50px;
        /* background-color: blueviolet; */
    }
    .elem{
        /* background-color: yellow; */
        /* margin: 5px; */
        padding: 1.1vh 2vw;
        border-top: 2px solid black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }
    .elem:nth-last-child(1){
        border-bottom: 2px solid black;

    }
    
    .elem i{
        font-size: 5vw;
        font-weight: 300;
        opacity: 0;
    }
    
    .elem a{
        color: black;
        text-decoration: none;
        font-weight: 500;
        font-size: 5vw;
    }
    
    .elem:hover i{
        opacity: 1;
    }
    .elem:hover a{
        text-decoration: underline;
    }

    #bottom{
        height: 30%;
        width: 100%;
        background-color:blueviolet;
        background-image: url(https://plus.unsplash.com/premium_photo-1661775820832-f971657b13f6?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
        background-size: cover;
        background-position: 0 22%;
        position: Absolute;
        bottom: 0;
       
    }
}